h3{
    font-size: 25px !important;
}

#btn_snapshot:hover{
    background-color: red;
    transform: scale(0.9);
}

canvas{
    animation-name: example;
    animation-duration: 4;
    animation-iteration-count: infinite;
    border: black;
}

@keyframes example{
    from {box-shadow: 1px 1px 38px red;}
    to {box-shadow: 1px 1px 38px yellow;}
}